# data preproccessing

## import modules and configure notebook

In [1]:
import pandas as pd
import numpy as np
import swifter

pd.set_option('max.rows', None)
pd.set_option('max.columns', None)

/home/robert/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

### Configurations
* group_sites -> input : 'superficial_only'|'bed_and_sup'|'raw', sets how the classes are defined
* data_input_path -> input: string, path to csv file to be read

In [2]:
data_input_path = '../data/AllData_2_All_Details_3_OutliersRem_1_SupDep_Regions.csv'
group_sites = 'superficial_only'

### read csv file

In [3]:
my_data = pd.read_csv(data_input_path)

### list of sites

In [5]:
my_data['Site'].unique()

array(['FH', 'ER', 'WW', 'TC', 'CS', 'BC', 'KQ', 'AR', 'SL', 'FG', 'WB',
       'BX', 'PF', 'BM', 'WH', 'SQ', 'BP', 'WN', 'BH', 'PH', 'LB', 'AB',
       'LV', 'BR', 'KY', 'BF', 'ST', 'SH', 'CF', 'BG', 'AC', 'CR', 'GH',
       'PX', 'WF', 'DH', 'NMAG_Gold', 'NMW_Gold', 'NMWGwern', 'UBSS',
       'Cefn', 'Stockley', 'Pucha', 'Woodbury', 'Pimple', 'Wellington',
       'Lyonshall', 'SymondsYatE', 'Madawg'], dtype=object)

### make functions for constructing different sets of labels for classification

In [6]:

def make_both_grouped(row):
    if row['Geology'] == 'Bedrock':
        if row['Site'] == 'WB' or row['Site'] == 'BX':
            return('WB_BX')
        elif row['Site'] == 'BC' or row['Site'] == 'CS':
            return('BC_CS')
        elif row['Site'] == 'SQ' or row['Site'] == 'BP':
            return('SQ_BP')
        else:
            return(row['Site'])
    elif row['Geology'] == 'Superficial':
        if row['Region'] == 'SV' or row['Region'] == 'SE':
            return('SV_SE')
        else:
            return(row['Region'])
        
def make_superficial_grouped(row):
    if row['Geology'] == 'Bedrock':
        return(row['Site'])
    elif row['Geology'] == 'Superficial':
        if row['Region'] == 'SV' or row['Region'] == 'SE':
            return('SV_SE')
        else:
            return(row['Region'])

def make_raw(row):
    if row['Geology'] == 'Bedrock':
        return(row['Site'])
    elif row['Geology'] == 'Superficial':
        return(row['Region'])

### function is executed to make labels, in this case function 'make superficial grouped' is utilised

In [7]:
my_data['class'] = 'init'   

if group_sites == 'bed_and_sup':
    my_data['class'] = my_data.apply(make_both_grouped, axis = 1)
elif group_sites == 'superficial_only':
    my_data['class'] = my_data.apply(make_superficial_grouped, axis = 1)
elif group_sites == 'raw':
    my_data['class'] = my_data.apply(make_raw, axis = 1)

### the string character '<' is present in some of the values, these are removed

In [8]:
for column_name in my_data.columns.values[9:-1]:
    def fill_less_than(row):
        if '<' in str(row[column_name]):
            return(float(row[column_name].replace('<', '').replace(',','')))
        else:
            return(float(row[column_name]))
    my_data[column_name] = my_data.swifter.apply(fill_less_than, axis = 1)

Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18581.39it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18909.33it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20437.05it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 15878.12it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17178.42it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19238.50it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19002.84it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18613.64it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 16363.07it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19719.87it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20573.38it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18244.75it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 16585.54it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17998.13it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18368.98it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 14938.99it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20596.27it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20583.81it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18294.75it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18206.92it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18732.59it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17791.02it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20195.64it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 16668.03it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17861.54it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19841.10it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18982.66it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19386.72it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18143.37it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19538.44it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19392.97it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 21306.10it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18267.85it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18725.40it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17274.94it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17648.61it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19220.16it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17886.87it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20432.59it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 17131.63it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19616.33it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20787.53it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18494.16it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18312.25it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 19644.02it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 15270.93it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 15987.40it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18576.78it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 15791.13it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20744.63it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 20106.00it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18695.68it/s]
Pandas Apply: 100%|██████████| 1606/1606 [00:00<00:00, 18243.61it/s]

### Impute na values with variable median, this is more resistant to the effect of outliers

In [9]:
for column_name in my_data.columns.values[9:-1]:
    my_data[column_name] = my_data[column_name].fillna(my_data[column_name].median())

In [10]:
my_data.head()

,Analysis,Geology,Province,Region,Site,SubSite,Formation,Band,Nodule,Li7,Be9,B11,Mg24,Al27,Si28,P31,S33,K39,Ca42,Sc45,Ti47,V51,Cr52,Mn55,Fe56,Co59,Ni60,Cu63,Zn68,Ga69,Ge72,As75,Rb85,Sr88,Y89,Zr90,Nb93,Mo95,Cd111,In115,Sn118,Cs133,Ba137,La139,Ce140,Pr141,Nd146,Sm147,Eu153,Gd157,Tb159,Dy163,Ho165,Er166,Tm169,Yb172,Lu175,Hf178,Ta181,Pb208,Th232,U238,class
0,10_FH1_1_1,Bedrock,Northern,NaN,FH,FH1,Burnham,FH1,FH1_1_1,15.63,0.12,48.36,154.63,943.71,464944.18,50.28,538.57,455.94,712.39,0.42,15.58,0.27,3.30,0.69,8.46,0.05,0.80,1.62,10.82,0.25,1.22,0.16,0.43,12.94,0.88,1.51,0.09,0.05,0.02,0.00,0.05,0.01,6.54,0.84,0.95,0.23,0.87,0.16,0.04,0.16,0.02,0.11,0.03,0.06,0.01,0.02,0.00,0.04,0.01,0.24,0.07,0.05,FH
1,11_FH1_1_1,Bedrock,Northern,NaN,FH,FH1,Burnham,FH1,FH1_1_1,11.50,0.09,44.77,22.42,1077.11,465010.94,70.91,438.20,387.82,515.24,0.44,18.47,0.29,3.45,1.01,11.59,0.11,0.36,0.53,8.93,0.34,0.85,0.10,0.45,13.22,0.95,1.74,0.07,0.01,0.02,0.00,0.04,0.02,8.04,0.92,1.01,0.23,0.98,0.18,0.04,0.18,0.02,0.13,0.03,0.06,0.01,0.04,0.01,0.05,0.00,0.07,0.08,0.04,FH
2,12_FH1_1_1,Bedrock,Northern,NaN,FH,FH1,Burnham,FH1,FH1_1_1,20.05,0.06,44.88,42.70,620.21,465295.41,104.47,372.66,363.71,957.89,0.76,19.89,0.55,3.25,1.21,87.99,0.21,1.68,1.53,11.98,0.25,1.71,0.13,0.43,8.52,0.87,0.93,0.10,0.02,0.02,0.00,0.05,0.01,3.13,0.90,1.08,0.26,0.84,0.15,0.04,0.19,0.02,0.14,0.02,0.07,0.01,0.06,0.00,0.02,0.01,0.46,0.05,0.05,FH
3,13_FH1_1_2,Bedrock,Northern,NaN,FH,FH1,Burnham,FH1,FH1_1_2,11.16,0.73,47.06,162.42,1143.19,465099.89,56367.93,1075.89,547.55,2174.30,0.43,42.30,0.67,152.42,4.84,145.34,0.30,2.45,5.02,17.15,0.35,2.13,0.84,0.76,13.16,0.97,2.00,0.10,0.29,0.18,0.01,0.78,0.04,8.74,0.93,0.95,0.21,0.75,0.13,0.04,0.25,0.02,0.09,0.03,0.05,0.00,0.03,0.00,0.08,0.00,0.64,0.05,0.03,FH
4,14_FH1_1_2,Bedrock,Northern,NaN,FH,FH1,Burnham,FH1,FH1_1_2,17.71,0.32,48.26,33.52,547.22,465027.11,44.44,464.78,278.25,1551.63,0.71,11.18,0.27,2.56,1.73,25.38,0.05,0.80,0.55,9.80,0.41,1.41,0.12,0.28,9.90,0.90,0.90,0.08,0.04,0.10,0.00,0.09,0.01,2.74,0.97,1.09,0.27,1.00,0.17,0.04,0.19,0.02,0.15,0.03,0.05,0.01,0.05,0.01,0.02,0.01,0.59,0.06,0.09,FH

### Filter for known data with known sources for training the model

In [11]:
train_data = my_data[(my_data['Geology']== 'Bedrock') | (my_data['Geology'] == 'Superficial')]
test_data = my_data[my_data['Geology']=='Artefacts']

### label encode the class to be predicted

In [12]:
train_data_formodel = train_data.copy(deep = True)
train_data_formodel['class'], uniques = pd.factorize(train_data_formodel['class'])

### order of class labels as numbers, these are encoded as 0 through 20

In [13]:
print(uniques)

Index(['FH', 'ER', 'WW', 'TC', 'CS', 'BC', 'KQ', 'AR', 'SL', 'FG', 'WB', 'BX',
       'PF', 'BM', 'WH', 'SQ', 'BP', 'WN', 'BH', 'PH', 'LB', 'AB', 'LV',
       'SV_SE', 'BA', 'WA', 'MM'],
      dtype='object')

### store variables to be used for modelling notebbok

In [14]:
%store train_data_formodel
%store train_data
%store test_data
%store my_data
%store uniques

Stored 'train_data_formodel' (DataFrame)
Stored 'train_data' (DataFrame)
Stored 'test_data' (DataFrame)
Stored 'my_data' (DataFrame)
Stored 'uniques' (Index)